<%= render "headers/default" %>

<main class="flex justify-center py-12 bg-gray-50 sm:px-6 lg:px-8" style="min-height: calc(100vh - 56px);">
  <div class="w-full sm:max-w-md">
    <div class="px-4">
      <h1 class="mt-6 text-3xl font-extrabold leading-9 text-center text-gray-900">
        Sign in to your account
      </h1>
    </div>
    <div class="bg-blue-50 py-4 px-6 mt-4 sm:rounded-mg">
      <p>Username: <span class="font-medium">gooduser</span></p>
      <p class="mt-1">Password: <span class="font-medium">secretpassword</span></p>
    </div>
    <div class="px-10 py-8 mt-4 bg-white shadow sm:rounded-md">
      <%= render "form" %>
      <hr class="my-5 border-gray-200">
      <div>
        <h3 class="text-sm text-gray-700">New to our platform?</h3>
        <%= link_to "Create an account", new_user_path, class: "btn btn-default mt-4" %>
      </div>
    </div>
  </div>
</main>
