<%= render "headers/default" do %>
  <%= link_to "Search engine", project_path(@project), class: "btn btn-primary" %>
<% end %>

<main class="py-12 px-4 sm:px-6 lg:px-8 bg-gray-100" style="min-height: calc(100vh - 56px);">
  <div class="max-w-2xl mx-auto">
    <%= render "form" %>
    <section class="mt-8">
      <ul class="bg-white rounded-lg shadow divide-y">
        <%= render @project.articles %>
      </ul>
    </section>
  </div>
</main>
