<%= render "headers/default" do %>
  <%= link_to "New project", new_project_path, class: "btn btn-primary" %>
<% end %>

<main class="py-12 px-4 sm:px-6 lg:px-8 bg-gray-100" style="min-height: calc(100vh - 56px)">
  <div class="max-w-2xl mx-auto">
    <h1 class="font-medium text-lg text-center">Visit the knowledge base and search for your answers</h1>
    <section class="flex justify-center flex-wrap -mx-5 mt-5">
      <%= render @projects %>
    </section>
    <% unless Current.user %>
      <section class="mt-4">
        <h2 class="font-medium text-2xl text-center">Please login to make the most use of the app</h2>
        <div class="mt-3">
          <%= link_to "Login", new_session_path, class: "btn btn-primary text-lg" %>
        </div>
      </section>
    <% end %>
  </div>
</main>
