<main class="py-12 px-4 sm:px-6 lg:px-8 bg-gray-100 min-h-screen">
  <div class="max-w-2xl mx-auto">
    <h1 class="font-medium text-lg text-center">Visit the knowledge base and search for your answers</h1>
    <section class="flex justify-center flex-wrap -mx-5 mt-5">
      <%= render @projects %>
    </section>
  </div>
</main>
